################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetCoreApp/.vs/AspNetCoreApp
/AspNetCoreApp/AspNetCoreApp/bin/Debug/netcoreapp3.1
/AspNetCoreApp/AspNetCoreApp/obj
